{% extends "base.html" %}

{% block title %}Ежедневные данные{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Daily Activity Dashboard</h1>
    
    {% for img in plot_images %}
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <img src="data:image/png;base64,{{ img }}" class="img-fluid" alt="Daily Activity Plot">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Дополнительный JavaScript код для интерактивности (если потребуется)
</script>
{% endblock %} 